---
---


<div class="services md:w-4/5 w-full flex flex-col justify-center items-center p-10 md:p-20">
    <div class="w-full flex-col md:flex-row justify-center items-center">
        <h1 class="text-4xl font-bold text-white text-center mb-3">Services</h1>
        <p class=" text-slate-300 mb-14 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, perferendis.</p>
    </div>

    <div class="flex flex-col md:flex-row flex-auto justify-center gap-10">
        <div class="card p-10 border border-slate-700 rounded-lg flex flex-col gap-4 w-56 hover:border-sky-600 bg-slate-800">
            <span class="icon icon-globe text-3xl font-semibold mt-10"/>
            <h3 class="tezt-xl font-semibold">Web Designer</h3>
            <a href="" class="text-xs">View More <span class="icon icon-arrow-right text-xs"/></a>
        </div>
        <div class="card p-10 border border-slate-700 rounded-lg flex flex-col gap-4 w-56 hover:border-sky-600 bg-slate-800">
            <span class="icon icon-chevrons-right text-3xl font-semibold mt-10"/>
            <h3 class="tezt-xl font-semibold">UI/UX Designer</h3>
            <a href="" class="text-xs">View More <span class="icon icon-arrow-right text-xs"/></a>
        </div>
        <div class="card p-10 border border-slate-700 rounded-lg flex flex-col gap-4 w-56 hover:border-sky-600 bg-slate-800">
            <span class="icon icon-code text-3xl font-semibold mt-10"/>
            <h3 class="tezt-xl font-semibold">App Web</h3>
            <a href="" class="text-xs">View More <span class="icon icon-arrow-right text-xs"/></a>
        </div>
    </div>


</div>